<div class="container">
  <div class="form-content">
    <mat-toolbar class="form-toolbar" color="primary">TASK DETAILS</mat-toolbar>
    <button mat-raised-button color="primary" routerLink="/task">
      <mat-icon>arrow_back</mat-icon><span> Back</span>
    </button>
    <mat-card>
      <mat-card-content>
        <app-task-form [taskForm]="taskForm" [priorityValues]="priorityValues" [statusValues]="statusValues"></app-task-form>
      </mat-card-content>
    </mat-card>
    <br />
    <button mat-raised-button color="primary" (click)="toggleEditMode()">
      {{ isEditMode ? "Save" : "Edit" }}
    </button>
    <button mat-raised-button color="warn" (click)="deleteTask()">
      Delete
    </button>
  </div>
</div>